* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(/images/starwars.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.nav-bar,
.footer-bar {
  width: 100%;
  height: auto;
  background-color: black;
}

.nav-bar {
  position: fixed;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

nav a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.logo {
  width: 60%;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.place {
  width: 40%;
  margin-right: 50px;
}

.wrap,
.align {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.bar-up,
.bar-down {
  width: 100%;
  height: 50px;
  background-color: black;
}

.bar-up {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 72.2px;
}

.bar-down {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 25px;
}

.page {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 20px;
}

.intro,
.center,
.outro,
.slot,
.first-pro {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}

.profile {
  height: 400px;
  width: auto;
}

.about {
  width: 40%;
  height: 400px;
  margin-left: 20px;
}

.center {
  margin-top: 20px;
  justify-content: space-between;
}

.blok {
  width: 30%;
  height: 300px;
  background-color: gray;
  padding: 20px;
}

.outro {
  justify-content: end;
}

.element {
  margin-top: 20px;
  background-color: gray;
  height: 300px;
  width: 65%;
  padding: 20px;
}

.slot-page {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

form {
  background-color: grey;
  padding: 10px;
  border: 1px solid black;
  width: 70%;
}

.form-set {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

.blauw2 {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.blauw2:hover {
  background-color: black;
  color: white;
}

.btn2 {
  border-color: white;
  padding: 15px 30px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.intro-con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.forum-con {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.form-txt {
  width: 45%;
  height: auto;
}

.post-pro {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}

.first-pro-2 {
  margin-top: 20px;
}

table {
  width: 100%;
}

table,
tr,
th,
td {
  margin-top: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-align: center;
}

.forum-exp {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .center {
    display: flex;
    flex-direction: column;
  }

  .blok {
    width: 100%;
    margin-bottom: 1em;
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
  }

  .slot-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  video {
    height: auto;
    width: 100%;
    margin-bottom: 5px;
  }

  .element {
    margin-top: 20px;
    background-color: gray;
    height: auto;
    width: 65%;
    padding: 20px;
  }

  .img-liam {
    height: auto;
    width: 100%;
  }

  .profile {
    height: auto;
    width: 100%;
  }

  .logo {
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
}

@media (max-width: 900px) {
  .first-pro,
  .first-pro-2 {
    height: auto;
    width: 100%;
    display: flex;
  }

  .post-pro {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .intro-con,
  .forum-con {
    display: flex;
    flex-wrap: wrap;
  }
}
